@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
$font: 'Luckiest Guy', cursive;
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
* {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
*::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}
html{
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
body{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
#root {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  .header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    width: 100%;
    grid-column: 1/6;
    font-size: 2rem;
    align-items: center;
    position: sticky;
    top: 0px;
    color: white;
    padding: 0px 3%;
    a {
      text-decoration: none;
      color: white;
    }
    a:hover {
      text-decoration: underline;
    }
      .title {
        font-size: 3rem;
      }
     .menus {
      display: flex;
      justify-content: space-around;
      width: fit-content;
      gap: 5%;

      .cart{
        display: flex;
        .itemCount{
          margin-right: 10px;
          background-color: red;
          border-radius: 20px;
          padding: 0px 5px;
        }
      }
      
     }
  }
  .main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    .homePage {
      flex: 1;
      background-image: url("../public/images/JoeBidenTitle.webp");
      background-repeat: no-repeat;
      background-size: cover;
      background-position:center;
      color: rgb(255, 255, 255);
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding-top: 50px;
      align-items: center;
      gap: 250px;
      text-align: center;
      .title {
        font-size: 8rem;
        font-family: $font;
      }
      .invitation {
        font-family: $font;
        font-size: 3rem;
      }
      .startShopping {
        font-size: 3rem;
        padding: 15px;
        padding-top: 25px;
        border-radius: 10px;
        background-color: orange;
        color: white;
        border: 3px solid black;
        font-family: $font;
        transition: 0.5s;
      }
      .startShopping:hover {
        background-color: white;
        color: orange;
      }
    }
    .contacts {
      background-image: url("../public/images/Contacts.webp");
      background-repeat: no-repeat;
      background-size: cover;
      background-position:center;
      background-attachment: fixed;

      flex: 1;
      display: flex;
      flex-direction: column;
      padding: 2%;
      .details {

        text-align: center;
        padding: 25px;
        color: rgb(255, 255, 255);
        font-size: 2rem;
        display: flex;
        justify-content: center;
        align-items:center;
        gap: 5%;
        margin-bottom: 5%;
        .wrapper {
          display: flex;
          flex-direction: column;
          gap: 2rem;
  
          .phone, .adress {
            p{
              font-family: $font;
    
            }
          }
  
        }
       
        img {
          width: 60%;
          border: 5px solid black;
        }
      }
      .contactUs {
        font-size: 2rem;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        .title{
          font-family: $font;
          font-size: 5rem;
        }
        form {
          border: 5px solid white;
          height: 45rem;
          width: 50%;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
          gap: 1rem;
          padding: 1rem;
          background-color: rgb(234, 117, 74);
          border-radius: 2rem;
          label {
            font-family: $font;
          }
          input {
            font-size: 1.6rem;
            padding: 0.2rem;
            border-radius: 0.5rem;
          }
          #qq {
            height: 15rem;
            width: 35rem;
            resize: none;
            font-size: 1.6rem;
            padding: 0.4rem;
            overflow: auto;
            border-radius: 0.5rem;
          }
          button {
            font-size: 2rem;
            padding: 0.5rem;
            background-color: rgb(249, 189, 61);
          }
        }
        .letterSent {
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 1rem;
          p {
            font-family: $font;
            text-align: center;
          }
        }
      }
      
    }
    
  
      
    }
  
  
  .footer {
    width: 100%;
    color: white;
    background-color: black;
    grid-column: 1/6;
    grid-row: 10/11;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
  }
}

