@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
* {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
*::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}
html{
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
body{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
#root {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  .header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    width: 100%;
    grid-column: 1/6;
    font-size: 2rem;
    align-items: center;
    position: sticky;
    top: 0px;
    color: white;
    a {
      text-decoration: none;
      color: white;
    }
    a:hover {
      text-decoration: underline;
    }
      .title {
        font-size: 3rem;
      }
     .menus {
      display: flex;
      justify-content: space-around;
      width: 30%;

      .cart{
        display: flex;
        .itemCount{
          margin-right: 10px;
          background-color: red;
          border-radius: 20px;
          padding: 0px 5px;
        }
      }
      
     }
  }
  .main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    .homePage {
      flex: 1;
      background-image: url("../public/images/JoeBidenTitle.webp");
      background-repeat: no-repeat;
      background-size: cover;
      background-position:center;
      color: rgb(255, 255, 255);
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding-top: 50px;
      align-items: center;
      gap: 250px;
      text-align: center;
      .title {
        font-size: 8rem;
        font-family: 'Luckiest Guy', cursive;
      }
      .invitation {
        font-family: 'Luckiest Guy', cursive;
        font-size: 3rem;
      }
      .startShopping {
        font-size: 3rem;
        padding: 15px;
        padding-top: 25px;
        border-radius: 10px;
        background-color: orange;
        color: white;
        border: 3px solid black;
        font-family: 'Luckiest Guy', cursive;
        transition: 0.5s;
      }
      .startShopping:hover {
        background-color: white;
        color: orange;
      }
    }
    .contacts {
      background-image: url("../public/images/Contacts.webp");
      background-repeat: no-repeat;
      background-size: cover;
      background-position:center;

      text-align: center;
      padding: 25px;
      flex: 1;
      color: rgb(255, 255, 255);
      font-size: 2rem;
      display: flex;
      justify-content: flex-start;
      align-items:flex-end;
      flex-direction: column;
      gap: 50px;
      .phone, .adress {
        p{
          font-family: 'Luckiest Guy', cursive;

        }
      }
      
    }
    
  
      
    }
  
  
  .footer {
    width: 100%;
    color: white;
    background-color: black;
    grid-column: 1/6;
    grid-row: 10/11;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
  }
}

