* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
* {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
*::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}
html{
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
body{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
#root {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
  .header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    width: 100%;
    grid-column: 1/6;
    font-size: 2rem;
    align-items: center;
    position: sticky;
    top: 0px;
    color: white;
    a {
      text-decoration: none;
      color: white;
    }
    a:hover {
      text-decoration: underline;
    }
      .title {
        font-size: 3rem;
      }
     .menus {
      display: flex;
      justify-content: space-around;
      width: 30%;
      .cart{
        display: flex;
        .itemCount{
          margin-right: 10px;
          background-color: red;
          border-radius: 20px;
          padding: 0px 5px;
        }
      }
      
     }
  }
  .main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  
  .footer {
    width: 100%;
    color: white;
    background-color: black;
    grid-column: 1/6;
    grid-row: 10/11;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
  }
}

